*res*.dat
*.o
Linear_interpol/*.o
Trapezoidal_rule/*.o
*temp*
*.png
.vscode/*
a.out
*.docx
*dat
parameters.txt
Tests/*
r0_tau_grid/*
r0_tau_grid_with_stable/*
bas*.txt*
gnuplot_scripts/*
with_parallel
without_paralell
time_redshift_test
Trapezoidal_rule/.deps